body {
    background-image: url('Resources/starstwinkle.gif');
  }
  h1 {
    color: black;
    text-align: center;
  }
  p1 {
    color: black;
    text-align: center;
  }
  div {
    align-items: center;
  }